@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

main {
  height: 200vh;
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  background: white;
  z-index: 20;
}

.line {
  position: fixed;
  top: 94px;
  width: 100%;
  height: 5vh;
  background: #1e3932;
  display: flex;
  align-items: center;
  z-index: 20;
}

.line > h6 {
  color: white;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  left: 235px;
  top: 3px;
}

#btn {
  border-radius: 40px;
  margin-left: 20px;
  height: 35px;
  margin-bottom: 8px;
}

.buttons {
  display: flex;
  flex: 0.4;
  align-items: center;
}

.location > h6 {
  font-weight: 600;
  font-size: 13.3px;
  margin-right: 20px;
}

.location {
  display: flex;
}

.location > svg {
  margin-right: 11px;
}

.location:hover {
  color: #006341;
  cursor: pointer;
}

.star {
  display: flex;
  height: 97vh;
  width: 100%;
  background: #00a86225;
  overflow: hidden;
}

.star > img {
  position: relative;
  right: 440px;
  top: 110px;
  width: 2900px;
  height: 816px;
}

.join {
  position: absolute;
  z-index: 10;
  left: 14em;
  top: 27em;
}

.join > h2 {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 20px;
}

.join > h5 {
  font-size: 19px;
}

#btn__join {
  border-radius: 40px;
  background: #008046;
  position: relative;
  top: 25px;
  left: 5px;
  font-weight: bold;
}

.join > h4 {
  position: relative;
  top: 40px;
  font-size: 21px;
}

span {
  text-decoration: underline;
  cursor: pointer;
}

span:hover {
  text-decoration: none;
}

img {
  margin: 20px;
  margin-left: 143px;
  width: 50px;
  height: 50px;
}

.active {
  border-bottom: 7px solid #008046;
}

.start {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start__container1 {
  flex: 0.4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  width: 100%;
}

.start__container1 > h4 {
  font-weight: bold;
  font-size: 26px;
}

.start__container1 > h6 {
  font-size: 15px;
}

#navbar > h5 {
  position: relative;
  top: 25px;
  margin-left: 20px;
  height: 54px;
  font-weight: bold;
  font-size: 14.5px;
}

h5:hover {
  color: #006341;
  cursor: pointer;
}

#navbar {
  display: flex;
  align-items: center;
}

.start__container2 {
  flex: 0.6;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.one {
  width: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-right: 2em;
}

.one > h4 {
  font-weight: bold;
  font-size: 20px;
}

.two > h4 {
  font-weight: bold;
  font-size: 20px;
}

.three > h4 {
  font-weight: bold;
  font-size: 20px;
}

.two {
  width: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-right: 2em;
}

.three {
  width: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.slider {
  width: 100%;
  height: 50vh;
  background: ;
  display: flex;
  flex-direction: column;
}

.sec1 {
  flex: 0.4;
  background: #00804615;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.sec1 > h4 {
  position: relative;
  bottom: 20px;
  font-size: 28px;
  font-weight: bold;
}

.sec1 > ul {
  position: absolute;
  bottom: 0;
}

.sec1 > ul > li {
  display: inline;
  font-size: 28px;
  padding: 40px;
  padding-bottom: 15px;
  cursor: pointer;
  font-weight: 600;
}

@media screen and (max-width: 1300px) {
  .header {
    height: 9vh;
  }
  img {
    margin-left: 30px;
  }
  #navbar > h5 {
    top: 20px;
    height: 54px;
  }

  .line > h6 {
    left: 121px;
  }

  .line {
    top: 86px;
  }

  .buttons {
    flex: 0.55;
  }

  .star {
    height: 68vh;
  }
  .star > img {
    top: 45px;
    right: 400px;
    width: 1600px;
    height: 600px;
  }

  .join {
    left: 40px;
    top: 330px;
  }
}
